.contactFormBox {
    width : 60vw;
}
.vertical {
    border-left: 2px solid rgb(195, 195, 195);
    width : 40vw;
}
.image {
    display : block;
    z-index: -1;
}

.contactBox {
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}
.Map {
    display: block;
    margin: 30px auto;
}

@media only screen and (min-width:577px) and (max-width : 992px) {
    .Map {
        width : 80%;
        margin: 20px auto;
    }
}

@media only screen and (max-width:576px){
    .contactFormBox {
        width: 100vw;
        background-color: yellow;
    }
    .vertical {
        border-left: none;
        width : 100vw;
        margin : 20px 0px;
    }
    .image {
        display : none !important;
    }
    .Map {
        width: 80%;
        margin: 10px auto;
    }
}