.header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}
.contactBox {
    margin: 3rem 1rem;
}
.footer {
    padding : 1em 6em;
}
.icon{
    height: 30px;
    font-size: .75em;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0.4em;
    margin : 10px;
}
@media only screen and (max-width: 576px) {
    .contactBox {
        margin: 0rem 0rem;
    }
    .footer{
        padding: 1em 1em;
    }
}